<div class="cont-bg-somos">
   <div class="cont-somos">
    <div>
        <img src="../../../assets/imagenes/gatito.png" alt="gato" class="img-somos">
        
    </div>
    
    <div class="cont-text-somos px-3">
        <h2>QUIÉNES SOMOS</h2>
        <p class="text-p my-3">En TaygusPet, brindamos
                servicios veterinarios de calidad y contamos con
                una tienda online, donde encontrarás todo para
                tus mascotas.</p>
        <p class="text-p"><strong>Tu confianza, es nuestra prioridad.</strong></p>
        <button class="btn btn-contac mt-3">CONTÁCTANOS</button>
    </div>
    
   </div> 
</div>

<div class="cont-bg-services">
 <div class="cont-service">
    <h2 class="subtitle">SERVICIOS</h2>
    <div class="service">
        <div class="tarjeta">
            <div class="cuerpo">
                <img class="service-icon" src="../../../assets/imagenes/clinica.png" alt="Clínica">
            </div>
            <div class="pie-tarjeta">
                <p>Clínica</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="cuerpo">
                <img class="service-icon" src="../../../assets/imagenes/laboratorio.png" alt="Laboratorio">
            </div>
            <div class="pie-tarjeta">
                <p>Laboratorios</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="cuerpo">
                <img class="service-icon" src="../../../assets/imagenes/peluqueria.png" alt="Estética">
            </div>
            <div class="pie-tarjeta">
                <p>Estética</p>
            </div>
        </div>
        <div class="tarjeta">
            <div class="cuerpo">
                <img class="service-icon" src="../../../assets/imagenes/tienda.png" alt="Tienda">
            </div>
            <div class="pie-tarjeta">
                <p>Tienda</p>
            </div>
        </div> 
    </div>
    <div class="tienda">
        <h3 class="tienda-linea">TIENDA EN LÍNEA</h3>
        <h2 class="mejores prod">NUESTROS MEJORES PRODUCTOS</h2>
        <div class="card-container">
            
        </div>
    </div>
 </div>   
</div>

