<div class="cont-bg-somos">
   <div class="cont-somos">
    <div>
        <img src="../../../assets/imagenes/gatito.png" alt="gato" class="img-somos">
        
    </div>
    
    <div class="cont-text-somos px-3">
        <h2>QUIÉNES SOMOS</h2>
        <p class="text-p my-3">En TaygusPet, brindamos
                servicios veterinarios de calidad y contamos con
                una tienda online, donde encontrarás todo para
                tus mascotas.</p>
        <p class="text-p"><strong>Tu confianza, es nuestra prioridad.</strong></p>
        <button class="btn btn-contac mt-3">CONTÁCTANOS</button>
    </div>
    
   </div> 
</div>

